body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-style: italic;
}

h2 {
    font-size: 2.8em !important;
}

.navbar {
    background: transparent !important;
    border: none !important;
    position: absolute !important;
    min-height: 40px !important;
    max-height: 40px !important;
}
.navbar a {
    font-size: 1.1em;
    color: #efefef !important;
}
    .navbar a:hover {
        color: #666 !important;
    }
.navbar-brand {
    background: #666;
    opacity: 0.5;
}
.navbar-brand:hover {
    background: #666 !important;
    opacity: 1 !important;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: transparent !important;
}
.navbar-collapse.in .navbar-nav {
    background: #888;
    background: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.navbar-brand img {
    max-height: 40px;
}

.trailing-arrow {
    border-top: solid transparent 20px;
    border-left: solid transparent 20px;
    border-right: solid transparent 20px;
    width: 20px;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
}
    .trailing-arrow.green {
        border-top-color: rgb(142, 198, 134);
    }
    .trailing-arrow.green-opac {
        border-top-color: rgb(142, 198, 134);
        border-top-color: rgba(142, 198, 134, 0.46);
    }
    .trailing-arrow.dark-green {
        border-top-color: rgb(80, 123, 96);
    }
    .trailing-arrow.grey {
        border-top-color: rgb(230, 230, 230);
    }

.fading-overlay {
    /*background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.76) 57%, rgba(255,255,255,1) 75%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 57%,rgba(255,255,255,1) 75%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 57%,rgba(255,255,255,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );*/

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.77) 37%, rgba(255,255,255,1) 48%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.77) 37%,rgba(255,255,255,1) 48%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.77) 37%,rgba(255,255,255,1) 48%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.note {
    padding: 20px;
    max-width: 480px;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    z-index: 1000;
}
    .note.green {
        background: rgb(142, 198, 134);
        color: #fff;
    }

.top-area {
    background: url('/content/img/bg_top.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    padding-top: 5%;
    padding-bottom: 200px;
    margin-top: -50px;
}
    .top-area .logo {
        display: block;
        max-width: 50%;
        margin: 20px auto 80px auto;
    }

.mottos {
    /*background: rgb(222, 230, 233);*/
    color: rgb(69, 96, 95);
    line-height: 2em;

}
    .mottos .motto {
        position: relative;
        margin-top: -55px;
        padding-top: 80px;

        background: -moz-linear-gradient(top, rgba(177,185,187,0.3) 0%, rgba(222,230,233,0.81) 11%, rgba(222,230,233,1) 15%);
        background: -webkit-linear-gradient(top, rgba(177,185,187,0.3) 0%,rgba(222,230,233,0.81) 11%,rgba(222,230,233,1) 15%);
        background: linear-gradient(to bottom, rgba(177,185,187,0.3) 0%,rgba(222,230,233,0.81) 11%,rgba(222,230,233,1) 15%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db1b9bb', endColorstr='#dee6e9',GradientType=0 );
    }
    .mottos .motto:first-child {
        margin-top: -240px;
        padding-top: 180px;

        background: -moz-linear-gradient(top, rgba(222,230,233,0) 0%, rgba(222,230,233,0.2) 5%, rgba(222,230,233,1) 25%);
        background: -webkit-linear-gradient(top, rgba(222,230,233,0) 0%,rgba(222,230,233,0.2) 5%,rgba(222,230,233,1) 25%);
        background: linear-gradient(to bottom, rgba(222,230,233,0) 0%,rgba(222,230,233,0.2) 5%,rgba(222,230,233,1) 25%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dee6e9', endColorstr='#dee6e9',GradientType=0);
    }
        .mottos .motto h2 {
            margin-top: 0;
        }

    .mottos .employee-area {
        
    }
    .employee-area img {
        max-width: 100%;
        margin-bottom: -100px;
        margin-top: -70px;
    }
    .employee-area .employee-info {
        color: rgb(69, 96, 95);
        max-width: 50%;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1.2em;
    }
    .employee-area .employee-info.right {
        position: absolute;
        top: 20%;
        right: -10%;
        float: right;
        text-align: right;
    }
    .employee-area .employee-info.left {
        position: absolute;
        top: 20%;
        left: -10%;
        float: left;
    }
    .employee-area .employee-title {
        color: rgb(69, 96, 95);
        font-weight: normal;
        font-size: 0.8em;
    }

.workfields {
    position: relative;
    z-index: 100;
}
    .workfields .fading-overlay {
        height: 102px;
        margin-bottom: -102px;
        position: relative;
    }
.workfields, .news {
    color: rgb(81, 119, 77);
}
.workfields .title, .news .title {
    background: rgb(142, 198, 134);
    background: rgba(142, 198, 134, 0.6);
    text-align: center;
    padding: 20px;
    position: relative;
}
.workfields .workfields-body, .news .news-body {
    background: rgb(228, 238, 228);
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
    .workfields .title h2, .news .title h2 {
        margin: 30px 0;
    }

.spotlight {
    background: rgb(222, 230, 233);
    padding-bottom: 50px;
    color: rgb(69, 96, 95);
}
    .spotlight .indent {
        padding-left: 20px;
    }
    .spotlight h3 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    .spotlight h4 {
        font-weight: bold;
    }
    .spotlight .title {
        background: rgb(80, 123, 96);
        color: rgb(142, 198, 135);
        padding: 30px 30%;
    }
        .spotlight .title .secondary {
            color: #fff;
            display: block;
            padding-left: 20%;
            line-height: 2em;
        }
        .spotlight .employee-area img {
            margin-bottom: -150px;
            margin-top: -20px;
        }
        .spotlight .employee-info.right {
            top: 30%;
        }

.employees {
    position: relative;
}
.employees-body {
    background-color: rgb(52,55,62);
}
    .employees .fading-overlay {
        height: 102px;
        margin-bottom: -102px;
        position: relative;
    }
    .employees .title {
        position: relative;
        /*color: rgb(162,169,185);*/
        color: #bcc0c8;
        /*background-color: rgb(52,55,62);
        background-color: rgba(52,55,62,0.6);*/
        background-color: rgb(77,82,92);
        background-color: rgba(77,82,92,0.6);
        padding: 30px 20%; 
    }
        .employees .title .secondary {
            color: #fff;
            display: block;
            padding-left: 20%;
            line-height: 2em;
        }
    .employees ul {
        max-width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .employees .employee {
        padding: 0;
        margin: 0;
        float: left;
        background-size: 287px 287px;
        height: 287px;
        width: 287px;
    }
        .employees .employee:hover {
            background-image: none !important;
            background-color: #fff;
        }
        .employees .employee:hover img,
        .employees .employee:hover .green-overlay, 
        .employees .employee:hover .name-overlay {
            display: block;
        }
    .employees .employee:nth-child(odd) {
        background-image: url(/content/img/profile_picture_dummy1.png);
    }
    .employees .employee:nth-child(even) {
        background-image: url(/content/img/profile_picture_dummy2.png);
    }
        .employees .employee img, 
        .employees .employee .green-overlay,
        .employees .employee .name-overlay {
            display: none;
        }
        .employees .employee img {
            width: 100%;
            float: left;
        }
        .employees .employee .green-overlay {
            background-color: rgb(159,198,151);
            background-color: rgba(159,198,151,0.3);
            float: left;
            height: 287px;
            width: 287px;
            margin-top: -287px;
        }
        .employees .employee .name-overlay {
            text-align: center;
            background-color: #000;
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            font-weight: bold;
            font-size: 1.2em;
            float: left;
            width: 100%;
            height: 50px;
            margin-top: -50px;    
            line-height: 1em;
            padding-top: 5px;
        }
            .employee-title {
                color: rgb(159,198,151);
                display: block;
                font-size: 0.8em;
            }

.contact {
    
}
    .contact .title {
        text-align: center;
        background: rgb(230, 230, 230);
        color: rgb(185, 185, 185);
        padding: 30px 20px 40px 20px;
    }
        .contact .title .darker {
            color: rgb(120, 120, 120);
            font-weight: bold;
        }
        .contact .title .under-title {
            font-size: 1.6em;
            line-height: 2.6em;
        }
    .contact h4 {
        font-weight: bold;
    }
    .contact .row .row {
        margin-bottom: 20px;
    }
    .contact .body-content {
        padding: 50px 0;
    }


#news .body-content {
    padding-top: 30px;
}
#news .news-article {
    margin-bottom: 10px;
}

.social-content {
    line-height: 12px;
}