body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.qgroup {
    background: rgb(29,29,29);/* Old browsers */
	background: -moz-linear-gradient(left, rgba(29,29,29,1) 0%, rgba(48,48,48,1) 0%, rgba(48,48,48,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(29,29,29,1)), color-stop(0%,rgba(48,48,48,1)), color-stop(100%,rgba(48,48,48,1)));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(29,29,29,1) 0%,rgba(48,48,48,1) 0%,rgba(48,48,48,1) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(29,29,29,1) 0%,rgba(48,48,48,1) 0%,rgba(48,48,48,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(29,29,29,1) 0%,rgba(48,48,48,1) 0%,rgba(48,48,48,1) 100%);/* IE10+ */
	background: linear-gradient(to right, rgba(29,29,29,1) 0%,rgba(48,48,48,1) 0%,rgba(48,48,48,1) 100%);/* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#303030',GradientType=1 );  IE6-9 */
}