@media (min-width: 992px) and (max-width: 1200px){
    .container {
        max-width: 1170px !important;
    }
    .navbar .container {
        max-width: 970px !important;
    }
    .mottos .motto:first-child {
        padding-top: 175px;
        height: 500px;
    }
    .mottos .motto {
        height: 440px;
        padding-top: 105px;
    }
    .mottos .employee-area {
        width: 40%;
    }

    .workfields .fading-overlay {
        height: 145px;
        margin-bottom: -145px;
    }

    .employee-area .employee-info.left {
        left: -10%;
    }
    .employee-area .employee-info.right {
        right: -10%;
    }

    .employee-area img {
        margin-top: -65px;
    }

    .motto:last-child .employee-area img {
        margin-top: -35px;
    }

    .spotlight .employee-area img {
        margin-bottom: -130px;
        margin-top: -20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .mottos .motto:first-child {
        margin-top: -365px;
        padding-top: 215px;
    }
    .mottos .motto {
        padding-bottom: 105px;
    }
    .mottos .motto:last-child {
        padding-bottom: 55px;
    }

    .spotlight .employee-area img {
        margin-top: -50px;
    }
    .spotlight .title {
        padding: 30px 20%;
    }
    .employees .title {
        padding: 30px 15%;
    }
}
@media (min-width: 0px) and (max-width: 768px) {
    .body-content {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .mottos .motto:first-child {
        margin-top: -345px;
        padding-top: 180px;
    }
    .mottos .motto {
        padding-bottom: 105px;
    }
    .mottos .motto:last-child {
        padding-bottom: 55px;
    }
    .top-area .logo {
        margin: 20px auto 45px auto;
    }
    .spotlight h3 {
        padding-left: 20px;
    }
    .spotlight .title {
        padding: 30px 15%;
    }
    .employees .title {
        padding: 30px 10%;
    }
    .spotlight .title .secondary {
        padding-left: 0;
    }
    .spotlight .employee-area img {
        margin-top: -65px;
        position: relative;
        right: -60px;
    }
    .spotlight .employee-info.right {
        right: auto;
        top: 20%;
    }
    .employees .title .secondary {
        padding-left: 0;
        line-height: 1.2em;
        padding-top: 15px;
    }
    .employees .employee {
        margin: 0 auto;
        float: none;
    }
    .contact .row .row {
        padding-left: 20px;
    }
}

/*
Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }

Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) { ... }

Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) { ... }
*/