<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - uniQode.se</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/content/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/content/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/content/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/content/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/content/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/content/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/content/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/content/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/content/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/content/manifest.json">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="~/content/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>