@using UniQode.Services
<div id="getintouch" class="contact">
    <div class="title">
        <h2>
            <span class="darker">Curious?</span> Can't Blame you
        </h2>
        <span class="under-title">make your move...</span>
    </div>
    <div class="trailing-arrow grey">

    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h4>Phone</h4>
                    0723 11 51 00
                </div>
                <div class="row">
                    <h4>E-mail</h4>
                    andreas.petersen@uniqode.se
                </div>
                <div class="row">
                    <h4>Address</h4>
                    Engelbrektsplan 2, 4tr <br/>
                    114 34 Stockholm<br/>
                    SWEDEN
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <iframe width="480"
                        height="320"
                        frameborder="0" style="border: 0"
                        src="https://www.google.com/maps/embed/v1/place?key=@AppSettings.GoogleApiKey&q=ENGELBREKTSPLAN+2,+114+34+Stockholm" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>