@model IEnumerable<UniQode.Models.Shared.WorkFieldModel>
<div id="whatwedo" class="workfields">
    <div class="fading-overlay"></div>
    <div class="title">
        <h2>That's great, but what do you guys do?</h2>
    </div>
    <div class="trailing-arrow green-opac">

    </div>
    <div class="workfields-body">
        <div class="container body-content">
            @for (var i = 0; i < Model.Count(); i++)
            {
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            @Model.ElementAt(i).Title
                        </h3>
                        <p>
                            @Model.ElementAt(i).Description
                        </p>
                    </div>
                    @{
                        i++;
                    }
                    <div class="col-md-6">
                        @if (i < Model.Count())
                        {
                            <h3>
                                @Model.ElementAt(i).Title
                            </h3>
                            <p>
                                @Model.ElementAt(i).Description
                            </p>
                        }
                    </div>
                </div>
                        }
        </div>
    </div>
</div>