@model UniQode.Models.FrontpageModel

@{
    ViewBag.Title = "Start";
}
<div class="top-area">
    <img class="logo" src="/content/img/logo.png"/>
    <div class="note">
        THIS IS WHAT IT-CONSULTING IS TO US
    </div>
    <div class="note-arrow">
        
    </div>
</div>
<div class="container body-content">
    @Html.Action("Mottos", "Home", new { preview = Request["preview"] })
</div>