@model UniQode.Models.FrontpageModel

@{
    ViewBag.Title = "Start";
}
<div class="top-area">
    <img class="logo" src="/content/img/logo.png"/>
    <div class="note green">
        THIS IS WHAT IT-CONSULTING IS TO US
    </div>
    <div class="trailing-arrow green">
        
    </div>
</div>
@Html.Action("Mottos", "Home", new { preview = Request["preview"] })
@Html.Action("Workfields", "Home", new { preview = Request["preview"] })