@model UniQode.Models.FrontpageModel

@{
    ViewBag.Title = "Start";
    ViewBag.Description = "Consulting for a new generation";
}
<div class="top-area">
    <img class="logo" src="/content/img/logo.png"/>
    <div class="note green">
        THIS IS WHAT IT-CONSULTING IS TO US
    </div>
    <div class="trailing-arrow green">
    </div>
</div>
@Html.Action("Public", "Motto", new { preview = Request["preview"] })
@Html.Action("Public", "Workfield", new { preview = Request["preview"] })