@model IEnumerable<UniQode.Models.Shared.MottoModel>
<div class="container">
    <h2>
        The uniQode Mottos <a class="btn btn-success" href="javascript:uniQode.adminAction('motto', 'Adding')">Add</a>
    </h2>
    <hr/>
    @if (!Model.Any())
    {
        <div class="alert alert-info" role="alert">No mottos exists! Start by adding your first with the button above.</div>
    }
    @foreach (var item in Model)
    {
        @Html.EditorFor(m => item)
    }
</div>