@model IEnumerable<UniQode.Models.Shared.NewsArticleModel>
<div id="news">
    <div class="container body-content list-group">
        @foreach (var article in Model)
        {
            <a href="/news/@article.Id/details" title="Click to edit" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <strong>@article.Created.ToString("dd MMM, yyyy").ToUpper()</strong>
                </h4>
                <p class="list-group-item-text">
                    @article.Title
                </p>
            </a>
        }
    </div>
</div>
