@model IEnumerable<UniQode.Models.Shared.SpotlightQuestionModel>
<div class="container">
    <h2>Spotlight questions</h2>
    <hr />
    @foreach (var item in Model)
    {
        <div class="col-md-offset-2 col-md-10" style="margin-bottom: 10px;">
            @Html.LabelFor(m => item.Text)<br />
            @Html.TextBoxFor(m => item.Text)
            @Html.ValidationMessageFor(m => item.Text)
        </div>
    }
</div>