@{
    ViewBag.Title = "Internal Server Error";
}
<div class="top-area">
    <img class="logo" src="/content/img/logo.png" alt="uniQode" />
    <div class="note green">
        500 - Internal Server Error
    </div>
    <div class="trailing-arrow green">

    </div>
</div>