@{
    ViewBag.Title = "Page Not Found";
}
<div class="top-area">
    <img class="logo" src="/content/img/logo.png" alt="uniQode" />
    <div class="note green">
        404 - Page Not Found
    </div>
    <div class="trailing-arrow green">

    </div>
</div>